@import "bootstrap";



.notice{
    color: green;
}
.alert{
    color: red;

}

/*----------registration_new.html----&---sessions.new.html------------*/

.field1{
    padding-top: 10px;
    width: 8em;
}
.btncontainer{
    padding-left: 150px;
}


/*--------------------application.html-----------------*/
.navbar-brand{
    padding-left: 150px;
}
.navbar-nav{
    padding-right: 150px;
}
footer{
    margin-top: 20px;
    text-align: center;
}


.about{
    text-align: center;
}


.plete{
    width: 100%;
    margin: 0 auto;
}

.top-plete h1 {
    text-align: center;
}
.bottom-plete{
    padding-left: 500px;
}
.d-grid{
    width: 100%;
    text-align: center;
    height: auto;
}


.btn{
    width: 60%;
    justify-content: center;
    margin-bottom: 15px;
}


/*----------edit-------------*/

.col-lg-5{
    margin: 0 auto;
}

.btn-secondary{
    width: 10em;
}


/*---------new_book---------*/
.setting{
    width: 450px;
}
